.landingpage {
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}
.landingpage h1 {
  font-size: 5rem;
  text-align: center;
}

.logout {
  position: absolute;
  top: 4%;
  right: 1%;
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  transition: 0.3s linear;
}
.logout:hover {
  color: rgb(3, 27, 248);
  text-decoration: none;
}
