.landingpage {
  background-color: #49d176;
  background-image: linear-gradient(
    rgba(10, 100, 240, 0.25),
    rgba(50, 20, 290, 0.45)
  );
  padding: 1rem;
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}
.landingpage h1 {
  font-size: 5rem;
}

.loggedin-user {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1.2rem;
  font-weight: 500;
}
.logout {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.2rem;
  text-decoration: none;
  color: blue;
}
