@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.homepage {
  background-color: #49d176;
  background-image: linear-gradient(
    rgba(10, 100, 240, 0.25),
    rgba(50, 20, 290, 0.45)
  );
  padding: 1rem;
  min-height: 100vh;
  font-family: 'MedievalSharp', cursive;
}

.homepage h1 {
  text-align: center;
  padding: 2rem 0;
  font-size: 5rem;
}

.gamelogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
}

.logo {
  border-radius: 10%;
  height: 300px;
  width: 350px;
}

.links {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 800;
}

.link1,
.link2 {
  color: rgb(241, 9, 9);
  text-decoration: none;
}

.link1 {
  margin-right: 2rem;
}
