@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');

.resultbox {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.mainresult {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  background-color: #49d176;
  background-image: linear-gradient(
    rgba(10, 100, 240, 0.25),
    rgba(50, 20, 290, 0.45)
  );
  border: none;
  outline: none;
  font-family: 'Muli', sans-serif;
}
.mainresult:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
