@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');

.resultbox {
  border: none;
  outline: none;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.mainresult {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  background: rgb(250, 171, 51);
  border: none;
  outline: none;
  font-family: 'Muli', sans-serif;
}
.mainresult:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
