@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.mainNav {
  color: #e40707;
  font-family: 'MedievalSharp', cursive;
}
.brand-text {
  font-size: 2rem;
  color: #2c2c2c;
}
.main-links {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
}
