@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');

.questionbox {
  border: none;
  outline: none;
  min-height: 80vh;
}

.mainquestion {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  background-color: #49d176;
  background-image: linear-gradient(
    rgba(10, 100, 240, 0.25),
    rgba(50, 20, 290, 0.45)
  );
  border: none;
  outline: none;
  font-family: 'Muli', sans-serif;
}
.mainquestion:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.logout {
  position: absolute;
  bottom: 0;
  right: 20px;
  font-size: 1rem;
  font-family: 'MedievalSharp', cursive;
  text-transform: uppercase;
  font-weight: 600;
  color: #2c2c2c;
  text-decoration: none;
  transition: 0.3s linear;
}
.logout:hover {
  color: #2c2c2c;
  text-decoration: none;
}

.spinner {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
